img {
  max-width: 100%;
}

header {
  /* This background came from the Architect theme by Jason Long from GitHub Pages. */
  background: #2e7bcf url(../images/header-bg-to-repeat.jpg) 0 0 repeat-x
}

header h1 {
  color: white;
}

header h2 {
  color: #9ddcff;
}
