img, iframe  {
  max-width: 100%;
}

header {
  /* This background came from the Architect theme by Jason Long from GitHub Pages. */
  background: #2e7bcf url(../images/header-bg-to-repeat.jpg) 0 0 repeat-x;
}

header h1 {
  color: white;
  margin-top: 0;
  padding-top: 0;
}

 header h2 {
  /* color: #9ddcff; */
  color:black;
} 

a {
  text-decoration: none;
}

.tab, .tab:hover ~ .tab,  .tabActivated + .tab:hover {
  background: cornflowerblue;
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
  margin: 0px;
} 
.tab:first-child {
  border-top-left-radius:7px;
}
.tab:last-child{
  border-top-right-radius:7px;
}

.tab:hover, .tabActivated {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background: white;
}
.tab:hover {
  transform: translateY(-.5em);
  transform: scale(1.15);  
}

.project-card span {
  text-transform: uppercase;
}

.project-card {
  border-style: inset;
}