img {
  max-width: 100%;
}

nav {
  background: #2e7bcf url(../images/header-bg-to-repeat.jpg) 0 0 repeat-x
}

.site-header h1 {
  color: white;
}

.site-header h2 {
  color: #9ddcff;
}

li {
  background: white;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
