

/* http://howtocenterincss.com/#contentType=div&horizontal=center&vertical=bottom */
nav, h1 {
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

body  {
  min-width: 320px;
  margin:auto;
} 

body * {
  max-width: 100%;
}

main {
  padding: 1em;
}