
/* modified from http://stephen.io/mediaqueries/ */

/* Desktop */
@media only screen 
and (min-width : 1024px){
  nav {
    display: flex;
  }
  .tab {
    width: 10em;
    border: 1px solid #9ddcff;
    border-radius:5px;
  }
  .tab h2 {
    text-align: center;
  }

  .icon-menu {
    display: none;
  }
}


/* Tablet Size */
@media only screen 
and (min-width : 667px) 
and (max-width : 1024px)  { 
  nav {
    display: flex;
  }

  .icon-menu {
    display: none;
  }
}

/* Phone Size */
@media only screen 
and (max-width : 667px) {
  nav {
    display: none;
    position: relative; 
  }

  .icon-menu {
    display: flex;
    justify-content:left;
    margin-bottom: -2px;
  }

  .tab {
    border: 1px solid #9ddcff;
    border-radius:10px;
    width: 40%;
  }
  header {
    padding: 1em;
  }

  .icon-menu:hover + nav, .icon-menu:active + nav,  nav:hover {
    display: inline;
  }

  .tab:hover {
    transform: none;
  }
 
}