
.show:hover:after, .hide:hover:after, a[class^='icon-']:hover  {
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    top: -1px
  }
  100% {
    top: 2px;
  }
}

.show:before {
  content: "Show Media ";
}
.hide:before {
  content: "Hide Media ";
}

.show:after {
  content: "⏬"
}
.hide:after {
  content: "⏫"
}