

.media-post p {
  padding-left: 1em;
}

.project-card section:last-of-type {
  margin-top: .5em;
  margin-bottom: .5em;
}

.media:hover {
  height: 100%;
  width: 100%; 
  overflow: none;
}

/* Inspired by https://benmarshall.me/resize-videos-proportionally-intrinsic-ratios/ */
.media-video:hover {
  padding-bottom: 55%;
  position: relative;
}

/* Video Fix source https://benmarshall.me/responsive-iframes/ */
.media:hover iframe {
  position: absolute;
  top: 0;
  left: 0;
}   

aside ul {
  list-style-type: none;
  padding-left: 0;
  font-size: .8em;
}

.tab, .tab:hover ~ .tab,  .tabActivated + .tab:hover {
  background: cornflowerblue;
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
  margin: 0px;
}

.tab:first-child {
  border-top-left-radius:7px;
}

.tab:last-child{
  border-top-right-radius:7px;
}

.tab:hover, .tabActivated {
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  background: white;
}

.tab:hover {
  transform: translateY(-.5em);
  transform: scale(1.15);
}

/* modified from http://stephen.io/mediaqueries/ and type-scale.com**/

/* Desktop */
@media only screen
and (min-width : 1024px){
  nav {
    display: flex;
  }

  html{font-size: 1.25em;}

  .tab {
    width: 10em;
    border: 1px solid #9ddcff;
    border-radius:5px;
  }

  .icon-menu {
    display: none;
  }

  #articles {
    width:75%;
  }
  
  aside {
    display: block;
  }
}

/* Tablet Size */
@media only screen
and (min-width : 667px)
and (max-width : 1024px)  {
  nav {
    display: flex;
  }

  html{font-size: 0.85em;}

  .icon-menu {
    display: none;
  }
  aside {
    display: block;
  }
  #articles {
    width:75%;
  }
}

/* Phone Size */
@media only screen
and (max-width : 667px) {

  nav {
    display: none;
    position: relative;
  }

  .icon-menu {
    display: flex;
    justify-content:left;
    margin-bottom: -2px;
  }

  .tab {
    border: 1px solid #9ddcff;
    border-radius:10px;
    width: 40%;
  }
  header {
    padding: 1em;
  }

  .icon-menu:hover + nav, .icon-menu:active + nav,  nav:hover {
    display: inline;
  }

  .tab:hover {
    transform: none;
  }
  aside {
    display: none;
  }
  #articles {
    width:100%;
  }

}
